<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= csrf_meta_tags %>
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

	<!-- Facebook Plugin -->
	<div id="fb-root"></div>

	<!-- Navbar -->
  <nav class="black">
    <div class="nav-wrapper">
      <a href="/products" class="brand-logo"><img id="maurel-logo" src="/assets/maurel-logo.png"/></a><!-- <span id="tagline">Italian Couture for the Hospitality Industry</span> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Products</a></li>
        <li><a href="badges.html">Our Process</a></li>
        <li><a href="collapsible.html">Clients</a></li>
        <li><a href="mobile.html">Press</a></li>
        <li><a href="sass.html">
        	<i class="large material-icons">shopping_cart</i>
        </a></li>
        <li>
        	<% if current_order %>

		  <%= number_to_currency current_order.total_before_tax %>
		  <% end %>
		</li>
	
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      
    </div>
  </nav>



<%= yield %>

	<!-- Display Basket Box -->
	<% if current_order %>
		<p style="border:1px solid black;padding:10px;">
		  You have <%= pluralize current_order.total_items, 'item'%> in your basket which cost
		  <%= number_to_currency current_order.total_before_tax %>.
		</p>
	<% end %>

	<!-- View Basket -->
	<%= link_to "View basket", basket_path %>
	<%= flash[:notice] %>

	<!-- Checkout Basket -->
	<%= link_to "Checkout", checkout_path %>


	<!-- Footer -->
        <footer class="black" class="page-footer" >
          <div class="container">
            <div class="row">
              <div class="col l3 s12">
                <!-- <h5 class="white-text">MAUREL</h5> -->
                <p class="grey-text text-lighten-4 footer">
                	MAUREL S.r.l. <br />
					Via del Commercio, 4 <br />
					27038 ROBBIO (PV) <br />
				</div>
				<div class="col l3 s12 grey-text text-lighten-4 footer">
					e-mail: info@maurel.com <br />
					Pec: maurel@legalmail.it 

					<!-- Facebook -->
		<!-- 			<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-width="300" data-action="like" data-show-faces="true" data-share="false"></div><br /> -->
					<!-- Twitter -->
				<!-- 	<a class="twitter-follow-button"
					  href="https://twitter.com/MaurelItalia"
					  data-size="large"> -->
					<!-- Follow @TwitterDev</a> -->

					<!-- VAT 02036710180 <br />
					REA PV-240504 <br />
					Social € 10.000,00 i.v.</p> -->
              </div>
              <div class="col l3 offset-l2 s12 footer">
<!--                 <h5 class="white-text">Sales Department</h5>
 -->                	<span class="grey-text text-lighten-4">Tel. +39 0384.671034 </span> <br />
					<span class="grey-text text-lighten-4">Fax +39 0384.672361 </span> <br />
               
              </div>
			   <ul>
			   <div class="col l3 offset-l2 s12 footer">
			   	  <li class="grey-text text-lighten-4">Sales Dept 
			   	  <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg" style="height:10px; width:auto;" />
                  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/300px-Flag_of_the_United_Kingdom.svg.png" style="height:10px; width:auto;" />
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Civil_and_Naval_Ensign_of_France.svg/2000px-Civil_and_Naval_Ensign_of_France.svg.png" style="height:10px; width:auto;" />
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Flag_of_Germany_(3-2_aspect_ratio).svg/2000px-Flag_of_Germany_(3-2_aspect_ratio).svg.png" style="height:10px; width:auto;" /></li> 

                  <li class="grey-text text-lighten-4">Daniela  

                  <a class="grey-text text-lighten-3" href="#!" style="padding-left:1em;"> EXT 4403
				  </a></li>

                  <li class="grey-text text-lighten-4">Francesca
              
                  <a class="grey-text text-lighten-3" href="#!" style="padding-left:1em;"> EXT 4404</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Maurel

            </div>
          </div>
        </footer>

</body>
</html>
